@import 'src/styles/variables';

.content {
  padding: 0 20px;
  min-height: 100vh;
  flex: 1;
}

.header {
  padding: 20px;
  display: flex;
  max-width: 300px;
  font-size: 1.5rem;
  position: sticky;
  height: 100vh;
  top: 0;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'RobotoCondensed';
  font-weight: normal;
}

.footer {
  height: $footer-height-desktop;
  padding: 0 20px;
  text-align: center;
}

.footer-text {
  padding-top: 15px;
  display: block;
  border-top: 1px solid #182848;
}

.main-content {
  display: flex;
  justify-content: flex-start;
}
